@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.8;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 38px 0 58px 0;
    color: blueviolet;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: 1px solid transparent; 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(255, 0, 93);
}

#search-button {
    padding: 10px 20px;
    background-color: #131a80;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.search-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.search-result {
    width: 40%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#show-more-button {
    background-color: blue;
    font-size: 18px;
    border: none;
    color: red;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px; 
    cursor: pointer;
}
